.root {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  max-height: 256px;
  background-color: white;
}

.bloco {
}

.nonClick {
  border: 0.5px solid black;
}

.click {
  border: 3px solid orange;
}
