.root {
  height: 100%;
  background-image: url("./maze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  // background-image: url("./wall.jpeg");
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 16px;
}

.signature {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  color: black;
}
