.root {
  background-image: url(./diagmonds-light.png);
}

.spacer {
  height: 12px;
}

.biggerSpacer {
  height: 16px;
}

.learnHome {
  background-image: url(./workhome.png);
  height: 128px;
  width: 128px;
}

.brain {
  background-image: url(./brain.png);
  height: 128px;
  width: 128px;
}

.documents {
  background: url(./books.png);
  height: 128px;
  width: 128px;
}
