.navbarTitle {
  margin-left: 12px;
}

.menu {
  width: 15%;
  color: white;
}
.navPC {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  width: 100%;
}

.restNav {
  display: flex;
  align-items: center;
}

.mobile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 0 0 8px;
}

.levelName {
  // width: 90%;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.run {
  margin-right: 16px;
}
