.toolbar {
  margin-top: 8px;
  padding: 8px;
  box-shadow: rgba(242, 105, 92, 0.4) 0px 5px, rgba(242, 105, 92, 0.3) 0px 10px,
    rgba(242, 105, 92, 0.2) 0px 15px, rgba(242, 105, 92, 0.1) 0px 20px,
    rgba(242, 105, 92, 0.05) 0px 25px;
  box-shadow: rgba(45, 191, 165, 0.4) 0px 5px, rgba(45, 191, 165, 0.3) 0px 10px,
    rgba(45, 191, 165, 0.2) 0px 15px, rgba(45, 191, 165, 0.1) 0px 20px,
    rgba(45, 191, 165, 0.05) 0px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalSpacer {
  height: 12px;
}

.item {
  padding: 0 8px;
}

.button {
  margin-right: 12px;
  background: linear-gradient(to right, #21a678, #5368a6, #f2695c);
  padding: 8px;
  border-radius: 10px;
}
