.root {
  max-width: 345px;
}

.image {
  padding-bottom: 16px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 0px 12px;
}

.problemSolving {
  background-image: url(./problemSolving.png);
  height: 128px;
  width: 128px;
}

.bird {
  background-image: url(./bird.png);
  height: 128px;
  width: 128px;
}

.puzzle {
  background-image: url(./puzzle.png);
  height: 128px;
  width: 128px;
}

.shapes {
  background-image: url(./shapes.png);
  height: 128px;
  width: 128px;
}

.movie {
  background-image: url(./clapperboard.png);
  height: 128px;
  width: 128px;
}

.music {
  background-image: url(./party.png);
  height: 128px;
  width: 128px;
}
