.root {
  background-image: url(./bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 737px) {
  .root {
    height: calc(100% - 64px);
  }
}

.fade {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.grid {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  column-gap: 5%;
}

@media (min-width: 737px) {
  .grid {
    row-gap: 10%;
  }
}
