.root {
  height: 100vh;
  background-color: white;
}

.canvas {
  display: flex;
  justify-content: center;
}

.underneath {
  display: flex;
  justify-content: center;
}

.sided {
  display: flex;
  align-items: center;
}

.modal {
  background-color: #0099cc;
  border-radius: 10px;
  padding: 32px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verticalSpacer {
  height: 16px;
}

.button {
  display: flex;
  justify-content: center;
}
