.root {
  height: 100vh;
  background-color: white;
}

.canvas_map {
  display: grid;
  grid-template-columns: 64px 1fr;
}

.canvas_blocks {
  display: grid;
  grid-template-columns: 64px 300px 1fr;
}

.underneath {
  display: flex;
  justify-content: center;
}

.sided {
  display: flex;
  align-items: center;
}

.modal {
  background-color: #0099cc;
  border-radius: 10px;
  padding: 24px;
  width: 600px;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  transform: translate(-50%, -50%);
  margin: 16px;
}

.modalDelete {
  background-color: #0099cc;
  border-radius: 10px;
  padding: 16px;
  width: 300px;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  transform: translate(-50%, -50%);
  margin: 16px;
}

.modalContent {
  display: flex;
}

.verticalSpacer {
  height: 16px;
}

.horizontalSpacer {
  width: 16px;
}

.button {
  display: flex;
  justify-content: center;
}

.buttonsDelete {
  display: flex;
  justify-content: flex-end;
}

.divider {
  border-right: 1px solid black;
  height: 270px;
  box-shadow: 0 0 8px black;
  border-radius: 12px / 125px;
}

.rightColumn {
  padding-left: 16px;
}
